default: &default
  adapter: postgresql
  encoding: utf8
  pool: 8
  username: user
  password: password

staging:
  <<: *default
  database: wikiquiz_staging

development:
  <<: *default
  database: wikiquiz_dev

test:
  <<: *default
  database: wikiquiz_test
